{{ partial "header.html" . }}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="posts">

                {{ $paginator := .Paginate (where .Data.Pages "Type" "nippo") 10 }}
                {{ range $paginator.Pages }}
                {{ .Render "li" }}
                {{ end }}

                <nav>
                    <ul class="pager">
                        {{ if $paginator.HasPrev }}
                        <li class="previous"><a href="{{ $paginator.Prev.URL | absURL }}"><span aria-hidden="true">&larr;</span> Newer</a></li>
                        {{ else }}
                        <li class="previous disabled"><span aria-hidden="true">&larr; Newer</span></li>
                        {{ end }}

                        <li><a href="/">All</a></li>

                        {{ if $paginator.HasNext }}
                        <li class="next"><a href="{{ $paginator.Next.URL | absURL }}">Older <span aria-hidden="true">&rarr;</span></a></li>
                        {{ else }}
                        <li class="next disabled"><span aria-hidden="true">Older &rarr;</span></li>
                        {{ end }}
                    </ul>
                </nav>

            </div>
        </div>
        <!--
        <div class="col-md-4">
            {{ partial "sidebar.html" . }}
        </div>
        -->
    </div>
</div>

{{ partial "footer.html" . }}
