<!DOCTYPE html>

<meta charset="utf-8">

<!-- Enable responsiveness on mobile devices-->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

<meta property="og:url" content="{{ .Site.BaseURL }}{{ .URL }}">
{{ if eq .URL "/" }}
<!-- Index -->
<meta property="og:type" content="website">
<meta property="og:title" content="{{ .Site.Title }}">
<meta property="og:description" content="@wada811's website" />
{{ else }}
<!-- Article -->
<meta property="og:type" content="article">
<meta property="og:title" content="{{ .Title }} | {{ .Site.Title }}">
<meta property="og:description" content="{{ .Summary }}" />
{{ end }}
<meta property="og:image" content="{{ .Site.BaseURL }}/assets/logo.png">
<meta property="og:site_name" content="{{ .Site.Title }}">
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@wada811">
<meta name="twitter:creator" content="@wada811">
<meta name="twitter:url" content="{{ .Site.BaseURL }}{{ .URL }}" />
{{ if eq .URL "/" }}
<meta name="twitter:title" content="{{ .Site.Title }}" />
<meta name="twitter:description" content="@wada811's website" />
{{ else }}
<meta name="twitter:title" content="{{ .Title }} | {{ .Site.Title }}" />
<meta name="twitter:description" content="{{ .Summary }}" />
{{ end }}
<meta name="twitter:image" content="{{ .Site.BaseURL }}/assets/logo.png" />

<title>
    {{ if eq .URL "/" }}
    {{ .Site.Title }}
    {{ else }}
    {{ .Title }} | {{ .Site.Title }}
    {{ end }}
</title>

<!-- CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
<link rel="stylesheet" href="//yandex.st/highlightjs/8.0/styles/{{ .Site.Params.SyntaxHighlightTheme }}">
<link rel="stylesheet" href="/css/markdown.css?v={{ getenv "COMMIT_HASH" }}">
<link rel="stylesheet" href="/css/styles.css?v={{ getenv "COMMIT_HASH" }}">
<link rel="stylesheet" href="/css/code.css?v={{ getenv "COMMIT_HASH" }}">

<!-- Icons -->
<link rel="shortcut icon" href="/assets/favicon.ico">

<!-- RSS -->
<link rel="alternate" type="application/rss+xml" title="RSS" href="/index.xml">
