<!DOCTYPE html>

<meta charset="utf-8">

<!-- Enable responsiveness on mobile devices-->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

<meta property="og:url" content="{{ .Site.BaseURL }}">
{{ if eq .URL "/" }}
<!-- Index -->
<meta property="og:type" content="website">
{{ range first 1 .Data.Pages }}
<meta property="og:title" content="{{ .Site.Title }}">
{{ end }}
{{ else if eq .URL "/blog/" }}
<!-- Blog -->
<meta property="og:title" content="Blog | {{ .Site.Title }}">
{{ else if eq .URL "/slide/" }}
<!-- Slide -->
<meta property="og:title" content="Slide | {{ .Site.Title }}">
{{ else if in .URL "/tags/" }}
<!-- Category -->
<meta property="og:title" content="{{ .Site.Title }}">
{{ else }}
<!-- Article -->
<meta property="og:type" content="article">
<meta property="og:title" content="{{ .Title }} | {{ .Site.Title }}">
{{ end }}
<meta property="og:site_name" content="{{ .Site.Title }}">

<title>
    {{ if eq .URL "/" }}
    {{ .Site.Title }}
    {{ else if eq .URL "/blog/" }}
    Blog | {{ .Site.Title }}
    {{ else if eq .URL "/slide/" }}
    Slide | {{ .Site.Title }}
    {{ else if in .URL "/tags/" }}
    {{ .Title }} | {{ .Site.Title }}
    {{ else }}
    {{ .Title }} | {{ .Site.Title }}
    {{ end }}
</title>

<!-- CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
<link rel="stylesheet" href="//yandex.st/highlightjs/8.0/styles/{{ .Site.Params.SyntaxHighlightTheme }}">
<link rel="stylesheet" href="/css/markdown.css?v={{ getenv "COMMIT_HASH" }}">
<link rel="stylesheet" href="/css/styles.css?v={{ getenv "COMMIT_HASH" }}">
<link rel="stylesheet" href="/css/code.css?v={{ getenv "COMMIT_HASH" }}">

<!-- Icons -->
<link rel="shortcut icon" href="/assets/favicon.ico">

<!-- RSS -->
<link rel="alternate" type="application/rss+xml" title="RSS" href="/index.xml">
