<!-- Logos  |  Search  |  Google Developers https://developers.google.com/search/docs/data-types/logo -->
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "url": "http://wada811.com",
  "logo": "http://wada811.com/assets/logo_512.png"
}
</script>
<!-- Social Profile  |  Search  |  Google Developers https://developers.google.com/search/docs/data-types/social-profile -->
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Person",
  "name": "wada811",
  "url": "http://wada811.com",
  "sameAs": [
    "https://www.facebook.com/takumi.wada.811",
    "https://twitter.com/wada811",
    "https://plus.google.com/+TakumiWADA"
  ]
}
</script>
<!-- Sitelinks Searchbox  |  Search  |  Google Developers https://developers.google.com/search/docs/data-types/sitelinks-searchbox -->
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "WebSite",
  "url": "https://github.com/",
  "potentialAction": {
    "@type": "SearchAction",
    "target": "https://github.com/wada811/wada811.com/search?q={search_term_string}",
    "query-input": "required name=search_term_string"
  }
}
</script>
