[class^="language"]:before {
    content: '';
    display: block;
    border-bottom: 1px dotted #ccc;
    padding: 0 0 .5em 0;
    margin: 0 0 .5em 0;
}

.language-java:before {
    content: 'Java';
}

.language-csharp:before {
    content: 'C#';
}

.language-ruby:before {
    content: 'Ruby';
}
