[class^="language"]:before {
    content: '';
    display: block;
    padding: .5em;
    margin: -0.5em -0.5em 0.5em -0.5em;
    background-color: #00566c;
    color: #c5dee1;
}

.language-java:before {
    content: 'Java';
}

.language-csharp:before {
    content: 'C#';
}

.language-ruby:before {
    content: 'Ruby';
}

.language-zsh:before {
    content: 'zsh';
}

.language-PowerShell:before {
    content: 'PowerShell';
}

.language-html:before {
    content: 'HTML';
}

.language-css:before {
    content: 'CSS';
}
